body {
  background-color: lightsteelblue;
  display: grid;
  gap: 10px;
  margin: 5px;
}

p {
  margin: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.navbar>h1 {
  flex: 1 250px;
}
.navbar>img {
  border-radius: 15px;
}

.messages {
  background-color: #fff;
  width: 100%;
  max-width: calc(100vw - 12px);
  height: 500px;
  max-height: 55vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
}

.messages>ul {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  width: calc(100% - 20px);
  list-style: none;
  padding: 0 10px;
}

.messages>ul .me {
  border-radius: 5px;
  padding: 10px;
  background-color: antiquewhite;
}

.messages>ul .other {
  border-radius: 5px;
  padding: 10px;
  background-color: skyblue;
}

.messages>ul>li {
  border-radius: 6px;
  padding: 3px;
  border: 1px dashed transparent;
}
.messages>ul>li.animate {
  animation-name: highlight;
  animation-duration: 2.5s;
}

@keyframes highlight {
  0% {background-color: none;}
  10% {background-color: rgba(166, 123, 198, 0.728);}
  20% {background-color: rgba(0,0,0,0);}
  30% {background-color: rgba(166, 123, 198, 0.728);}
  40% {background-color: rgba(0,0,0,0);}
  50% {background-color: rgba(166, 123, 198, 0.728);}
  60% {background-color: rgba(0,0,0,0);}
  70% {background-color: rgba(166, 123, 198, 0.728);}
  80% {background-color: rgba(0,0,0,0);}
  90% {background-color: rgba(166, 123, 198, 0.728);}
  100% {background-color: rgba(0,0,0,0);}
}

.button.vote {
  background: none;
  border: none;
  cursor: pointer;
}

.messages>ul>li.active, .messages>ul>li:hover {
  background-color: lightblue;
  border-color: skyblue;
  opacity: 1;
}

.messages>ul>li>.metadata-container {
  display:grid;
  grid-template-areas: "img name"
                       "img time";
  grid-template-columns: 45px auto;
  grid-template-rows: 20px 20px;
  width: fit-content;
  column-gap: 5px;
}

/* .messages>ul>li>.metadata-container:not(:first-child) {
  margin-top: 5px;
}

.messages>ul>li>.metadata-container:first-child {
  align-items: center;
  gap: 5px;
} */

.messages>ul>li>.metadata-container>.user-details {
  grid-area: name;
}

.messages>ul>li>.metadata-container>.user-massage-created {
  grid-area: time;
}

.messages>ul>li>.metadata-container>.user-details>.user-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.messages>ul>li>.metadata-container>.user-details>.user-address {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
}

.messages>ul>li>.metadata-container>.user-image {
  grid-area: img;
}
.messages>ul>li>.metadata-container>.user-image>img {
  border-radius: 20px;
  width: 40px;
  background-color: skyblue;
}

.form {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 100px;
  gap: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
}

.form>.text {
  background-color: #ffd;
  outline: none;
  border: none;
  border-radius: inherit;
  padding: 5px;
}

.self {
  color: blue;
  font-weight: 700;;
}
